Repository UnBArqDsw2024-2/2024.2_G2_Brecho_Entrega_01, pull requests merged in 2024-11, with the labels that each got.

#33 Adição do texto de Unpack
  docs/Base/1.1.DesignSprint.md
Labels: Design Sprint

#34 Adição do Mapa Mental
  docs/Base/1.1.DesignSprint.md
  docs/Base/1.2.ArtefatoGeneralista.md
  docs/Imagens/mapa_mental.jpeg
Labels: Artefato Generalista

#36 Adiciona sketch + rich pictures
  docs/Base/1.1.DesignSprint.md
  docs/Base/1.2.ArtefatoGeneralista.md
  docs/Base/5w2h.md
  docs/Base/RichPicture.md
  docs/Imagens/RP1.png
  docs/Imagens/RP2.jpeg
  docs/Imagens/RP3.png
  docs/_sidebar.md
Labels: Design Sprint

#38 Adição do BPMN1
  docs/Base/1.3.ModelagemBPMN.md
  docs/Imagens/bpnm_1.png
Labels: Modelagem na Notação BPMN

#55 Adição de Iniciativas Extras
  docs/Base/1.5.IniciativasExtras.md
  docs/Imagens/heatmap.png
  docs/Imagens/issues.png
  docs/Imagens/kanban.png
Labels: Iniciativas Extras

#52 Adicionando artefato generalista de causa e efeito e bpmn 6 metodo de…
  docs/Base/1.2.ArtefatoGeneralista.md
  docs/Base/1.3.ModelagemBPMN.md
  docs/Imagens/bpmn-metodo.jpeg
  docs/Imagens/ishikawa-causa-e-efeito.jpeg
Labels: Artefato Generalista, Modelagem na Notação BPMN

#60 Adiciona diagrama causa-efeito
  docs/Base/1.2.ArtefatoGeneralista.md
  docs/Imagens/diagrama-causa-efeito.png
  docs/_sidebar.md
Labels: Artefato Generalista
